Repository danillo-ao/rn-grunkle: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint ., tsc --noemit

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint .",
  "*.{ts,tsx}": "tsc --noemit"
}

chore: remove coverage from git
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/base.css
  coverage/lcov-report/block-navigation.js
  coverage/lcov-report/favicon.png
  coverage/lcov-report/index.html
  coverage/lcov-report/prettify.css
  coverage/lcov-report/prettify.js
  coverage/lcov-report/sort-arrow-sprite.png
  coverage/lcov-report/sorter.js
  coverage/lcov-report/src/app.composer.tsx.html
  coverage/lcov-report/src/index.html
  coverage/lcov-report/src/navigation/index.html
  coverage/lcov-report/src/navigation/navigator.comp.tsx.html
  coverage/lcov-report/src/navigation/routes.ts.html
  coverage/lcov-report/src/screens/home/home.screen.tsx.html
  coverage/lcov-report/src/screens/home/home.types.ts.html
  coverage/lcov-report/src/screens/home/index.html
  coverage/lcov-report/src/screens/home/index.ts.html
  coverage/lcov-report/src/tests/index.html
  coverage/lcov-report/src/tests/index.tsx.html
  coverage/lcov-report/src/theme/colors.ts.html
  coverage/lcov-report/src/theme/fonts.ts.html
  coverage/lcov-report/src/theme/index.html
  coverage/lcov-report/src/theme/media.ts.html
  coverage/lcov-report/src/theme/radii.ts.html
  coverage/lcov-report/src/theme/space.ts.html
  coverage/lcov-report/src/theme/theme.config.ts.html
  coverage/lcov-report/src/theme/theme.ts.html
  coverage/lcov-report/src/theme/theme.utils.ts.html
  coverage/lcov-report/src/theme/z-indixes.ts.html
  coverage/lcov.info
Due: eslint .

chore: change lint-staged config
  .lintstagedrc.json
Due: none

chore: test lint staged
  .lintstagedrc.json
Due: none

[Fixed] - dev tools action (#2)
  .lintstagedrc.json
Due: none

fix: home screen types
  src/components/screen/screen.comp.tsx
  src/components/screen/screen.types.ts
  src/navigation/navigator.comp.tsx
  src/screens/home/home.screen.tsx
  src/screens/home/home.types.ts
Due: eslint ., tsc --noemit

[Fix] - home screen types (#3)
  src/components/screen/screen.comp.tsx
  src/components/screen/screen.types.ts
  src/navigation/navigator.comp.tsx
  src/screens/home/home.screen.tsx
  src/screens/home/home.types.ts
Due: eslint ., tsc --noemit

chore: add gemfile to the template
  template/Gemfile
Due: none

fix: add .ruby-version file
  template/.ruby-version
Due: none

feat: update version and package name
  package.json
Due: none

chore: fix git repository
  package.json
Due: none

feat: add theme colors: 'orange', 'purple' and 'cyan'
  template/src/theme/colors.ts
Due: eslint ., tsc --noemit

chore: update version
  package.json
Due: none

Release/v1.2.1 (#5)
  package.json
  template/src/theme/colors.ts
Due: eslint ., tsc --noemit
